@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,500;1,600&family=Cormorant+Upright:wght@300;400;600&family=Habibi&family=Roboto:wght@100;500;700&display=swap');
.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 393px;
  height: 7272px;
  position: relative;
}

.home .vector {
  height: 2px;
  top: 36px;
  left: 345px;
  position: absolute;
  width: 16px;
}

.home .img {
  height: 2px;
  top: 29px;
  left: 345px;
  position: absolute;
  width: 16px;
}

.home .vector-2 {
  height: 2px;
  top: 43px;
  left: 345px;
  position: absolute;
  width: 16px;
}

.home .pillars-of-design {
  position: absolute;
  top: 24px;
  left: 42px;
  font-family: "Avenir-Regular", Helvetica;
  font-weight: 400;
  color: #0026f4;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: normal;
}

.home .text-wrapper {
  font-family: "Avenir-Regular", Helvetica;
  font-weight: 400;
  color: #0026f4;
  font-size: 20px;
  letter-spacing: 4px;
}

.home .overlap-group {
  position: absolute;
  width: 283px;
  height: 384px;
  top: 125px;
  left: 81px;
}

.home .rectangle {
  position: absolute;
  width: 232px;
  height: 376px;
  top: 8px;
  left: 0;
  background-color: #0026f4;
  border-radius: 10px;
}

.home .rectangle-2 {
  position: absolute;
  width: 232px;
  height: 29px;
  top: 41px;
  left: 0;
  background-color: #ffffff;
  opacity: 0.6;
}

.home .rectangle-3 {
  position: absolute;
  width: 376px;
  height: 29px;
  top: 182px;
  left: -146px;
  background-color: #ffffff;
  transform: rotate(-90deg);
  opacity: 0.6;
}

.home .rectangle-4 {
  position: absolute;
  width: 232px;
  height: 29px;
  top: 101px;
  left: 0;
  background-color: #ffffff;
  opacity: 0.6;
}

.home .rectangle-5 {
  position: absolute;
  width: 376px;
  height: 29px;
  top: 182px;
  left: -86px;
  background-color: #ffffff;
  transform: rotate(-90deg);
  opacity: 0.6;
}

.home .text-wrapper-2 {
  position: absolute;
  width: 176px;
  top: 235px;
  left: 101px;
  transform: rotate(-90deg);
  font-family: "Avenir-Heavy", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 3.5px;
  line-height: 64.2px;
}

.home .vector-3 {
  height: 27px;
  top: 155px;
  left: 267px;
  position: absolute;
  width: 16px;
}

.home .mask-group {
  position: absolute;
  width: 232px;
  height: 376px;
  top: 0;
  left: 0;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 176px;
  top: 235px;
  left: 100px;
  transform: rotate(-90deg);
  font-family: "Avenir-Heavy", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 3.5px;
  line-height: 64.2px;
}

.home .rectangle-6 {
  position: absolute;
  width: 54px;
  height: 87px;
  top: 27px;
  left: 17px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(180deg);
}

.home .rectangle-7 {
  position: absolute;
  width: 54px;
  height: 87px;
  top: 121px;
  left: 17px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(180deg);
  opacity: 0.4;
}

.home .rectangle-8 {
  position: absolute;
  width: 54px;
  height: 87px;
  top: 216px;
  left: 17px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(180deg);
  opacity: 0.1;
}

.home .rectangle-9 {
  position: absolute;
  width: 54px;
  height: 87px;
  top: 27px;
  left: 79px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(180deg);
  opacity: 0.8;
}

.home .rectangle-10 {
  position: absolute;
  width: 54px;
  height: 87px;
  top: 121px;
  left: 79px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(180deg);
  opacity: 0.2;
}

.home .rectangle-11 {
  position: absolute;
  width: 54px;
  height: 87px;
  top: 27px;
  left: 141px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(180deg);
  opacity: 0.6;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 176px;
  top: 235px;
  left: 103px;
  transform: rotate(-90deg);
  font-family: "Avenir-Heavy", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 3.5px;
  line-height: 64.2px;
}

.home .vector-4 {
  height: 27px;
  top: 280px;
  left: 30px;
  position: absolute;
  width: 16px;
}

.home .p {
  position: absolute;
  width: 305px;
  top: 933px;
  left: 45px;
  font-family: "Avenir-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.home .rectangle-12 {
  position: absolute;
  width: 232px;
  height: 376px;
  top: 133px;
  left: 382px;
  background-color: #0026f4;
  border-radius: 10px;
}

.home .overlap {
  position: absolute;
  width: 275px;
  height: 76px;
  top: 574px;
  left: 58px;
}

.home .color-CULTURE {
  position: absolute;
  width: 275px;
  top: 0;
  left: 0;
  font-family: "Avenir-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.9px;
}

.home .rectangle-13 {
  position: absolute;
  width: 113px;
  height: 28px;
  top: 44px;
  left: 93px;
}

.home .overlap-2 {
  position: absolute;
  width: 330px;
  height: 173px;
  top: 711px;
  left: 31px;
}

.home .research-SHOWS-THAT {
  position: absolute;
  width: 330px;
  height: 106px;
  top: 32px;
  left: 0;
  font-family: "Avenir-Medium", Helvetica;
  font-weight: 500;
  color: #0026f4;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-14 {
  position: absolute;
  width: 6px;
  height: 96px;
  top: -45px;
  left: 266px;
  background-color: #0026f4;
  transform: rotate(-90deg);
}

.home .rectangle-15 {
  position: absolute;
  width: 6px;
  height: 96px;
  top: 122px;
  left: 266px;
  background-color: #0026f4;
  transform: rotate(-90deg);
}

.home .rectangle-16 {
  position: absolute;
  width: 6px;
  height: 96px;
  top: -45px;
  left: 162px;
  background-color: #0026f4;
  transform: rotate(-90deg);
  opacity: 0.4;
}

.home .rectangle-17 {
  position: absolute;
  width: 6px;
  height: 96px;
  top: 122px;
  left: 162px;
  background-color: #0026f4;
  transform: rotate(-90deg);
  opacity: 0.4;
}

.home .rectangle-18 {
  position: absolute;
  width: 6px;
  height: 96px;
  top: -45px;
  left: 58px;
  background-color: #0026f4;
  transform: rotate(-90deg);
  opacity: 0.1;
}

.home .rectangle-19 {
  position: absolute;
  width: 6px;
  height: 96px;
  top: 122px;
  left: 58px;
  background-color: #0026f4;
  transform: rotate(-90deg);
  opacity: 0.1;
}

.home .overlap-3 {
  position: absolute;
  width: 349px;
  height: 695px;
  top: 1507px;
  left: 22px;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 1px solid;
  border-color: #ffffff;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 313px;
  top: 61px;
  left: 15px;
  font-family: "Habibi-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 81px;
  top: 17px;
  left: 133px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 3.2px;
  line-height: normal;
}

.home .overlap-4 {
  position: absolute;
  width: 349px;
  height: 1379px;
  top: 2222px;
  left: 24px;
}

.home .rectangle-20 {
  position: absolute;
  width: 349px;
  height: 651px;
  top: 0;
  left: 0;
  background-color: #e2e2e2;
  border-radius: 10px;
}

.home .rectangle-21 {
  position: absolute;
  width: 349px;
  height: 705px;
  top: 674px;
  left: 0;
  background-color: #ffc600;
  border-radius: 10px;
}

.home .text-wrapper-7 {
  position: absolute;
  width: 313px;
  top: 75px;
  left: 16px;
  font-family: "Habibi-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.home .is-the-most-visible {
  position: absolute;
  width: 313px;
  top: 749px;
  left: 16px;
  font-family: "Habibi-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.home .text-wrapper-8 {
  position: absolute;
  width: 81px;
  top: 31px;
  left: 134px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 3.2px;
  line-height: normal;
}

.home .text-wrapper-9 {
  position: absolute;
  width: 81px;
  top: 706px;
  left: 134px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 3.2px;
  line-height: normal;
}

.home .overlap-5 {
  position: absolute;
  width: 349px;
  height: 705px;
  top: 3626px;
  left: 24px;
  background-color: #ff9330;
  border-radius: 10px;
}

.home .overlap-6 {
  position: absolute;
  width: 349px;
  height: 705px;
  top: 4356px;
  left: 24px;
  background-color: #d40000;
  border-radius: 10px;
}

.home .is-the-most-visible-2 {
  position: absolute;
  width: 313px;
  top: 75px;
  left: 16px;
  font-family: "Habibi-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.home .text-wrapper-10 {
  position: absolute;
  width: 81px;
  top: 31px;
  left: 134px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 3.2px;
  line-height: normal;
}

.home .overlap-7 {
  position: absolute;
  width: 349px;
  height: 705px;
  top: 5086px;
  left: 24px;
  background-color: #006d04;
  border-radius: 10px;
}

.home .overlap-8 {
  position: absolute;
  width: 349px;
  height: 705px;
  top: 5815px;
  left: 24px;
  background-color: #0026f4;
  border-radius: 10px;
}

.home .overlap-9 {
  position: absolute;
  width: 349px;
  height: 705px;
  top: 6545px;
  left: 24px;
  background-color: #6800ec;
  border-radius: 10px;
}


