h1{
  font-family: Chronicle Deck;
  font-size: 60px;
  font-style: normal;
  font-weight: 325;
  text-transform: capitalize;
  padding-left: 10%;
}

.navbox{
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.navitem{
  display: inline;
  justify-content: center;
  background-color: #0026F4;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  border-radius: 50px;
  padding: 14px;
  }

.quote{
  font-family: Chronicle Deck;
  font-size: 35px;
  font-style: normal;
  font-weight: 325;
  line-height: normal;
  padding-bottom: 2%;
}

.descrip{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fontcard{
  padding: 10px;
  border: 1px solid #0026F4;
  position: relative;
  width: 380px;
  height: 90px;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 10px;
}

.namecard{
  padding-left: 2px;
  padding-top: 10px;
  border: 1px solid white;
  background-color: #a6b4ff;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 10px;
}

.advice{
  font-family: Chronicle Deck;
  font-size: 28px;
  font-style: italic;
  font-weight: 325;
  line-height: normal;
  padding-bottom: 1%;
  padding-top: 2%;
}