h1{
  font-family: Cormorant Garamond;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  padding-left: 10%;
}

.quote{
  font-family: Cormorant Garamond;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 45px;
}