h1{
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 10%;
}

.quote{
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  margin-left: 70px;
  color: #0026F4;
}
