@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,500;1,600&family=Cormorant+Upright:wght@300;400;600&family=Habibi&family=Roboto:wght@100;500;700&display=swap');

h1{color: #FFF;
  font-family: Didot;
  font-size: 60px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize}

.body1{width: 80%, 40%;
  color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 350;
line-height: 30px;}

.subhead2{
  color: #000;
font-family: Didot;
font-size: 30px;
font-style: italic;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
padding: 3%;
}

.subhead3{
  color: #FF7A00;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;}

.subhead4{
  color: #000;
  text-align: center;
  font-family: Didot;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.paula{
  color: #000;
  text-align: center;
font-family: Didot;
font-size: 16px;
font-weight: 400;
line-height: 30px;
}

.lastbody{
  color: #000;
font-family: Roboto;
text-align: center;
font-size: 16px;
line-height: 30px;
}

.sec3sub1{
  color: #000;
font-family: Roboto;
font-size: 12px;
padding: 1%;
}

.sec3h1{
  color: #000;
font-family: Baskerville;
font-size: 35px;
font-weight: 400;
padding: 1%;
}

.sec3body{
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 1%;
}

.horizontal-line {
  border-top: 1px solid #000; 
}

.sec1sub1{
  color: white;
font-family: Roboto;
font-size: 12px;
}