@font-face {
	font-family: 'Roboto';
	src: url('../binding/fonts/Roboto-Light.ttf');
  src: url('../binding/fonts/Roboto-Medium.ttf');
  src: url('../binding/fonts/Roboto-Regular.ttf');

  font-family: 'ChronicleDeck';
  src: url('../binding/fonts/ChronicleDeck-Roman.otf');
  src: url('../binding/fonts/ChronicleDeck-Italic.otf');
  src: url('../binding/fonts/ChronicleDeck-Semitalic.otf');

  font-family: 'BigShouldersDisplay';
  src: url('../binding/fonts/BigShouldersDisplay-VariableFont_wght.ttf');

  font-family: 'CormorantGaramond';
  src: url('../binding/fonts/CormorantGaramond-SemiBoldItalic.ttf');
}

/* HamburgerMenu*/
#menu__toggle:checked + .menu__btn > span {transform: rotate(45deg);}
#menu__toggle:checked + .menu__btn > span::before {top: 0;transform: rotate(90deg);}
#menu__toggle:checked ~ .menu__box {left: 0 !important;}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition-duration: .60s;}

.menu__btn > span::before {content: '';}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #0026F4;
  box-shadow: 2px 2px 6px white(0, 0, 0, .4);
  transition-duration: .60s;}

.smallmenu__item {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  opacity:50%;}

.grid {
  color: #FFF;
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding-left: 15%;}

.type{
  color: #FFF;
  font-family: Chronicle Deck;
  font-size: 60px;
  font-weight: 325;
  line-height: 50px;
  padding-left: 15%;
}

.color{
  color: #FFF;
  font-family: Cormorant Garamond;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 50px;
  padding-left: 15%;
}

/*Basic Styles*/


.headbar{
color: #0026F4;
margin-top: -10px;
padding-left: 40px;
}

p{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 90%;
padding-left: 10%;
max-width: 800px;
}

.subhead{
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
letter-spacing: 2.7px;
padding-top: 2%;
padding-bottom: 2%;
text-transform: uppercase;
}

/* Logo*/
.bluelogobox{
  background-color: #0026F4;
  color: white;
  padding-top: 150px;
  padding-bottom: 5%;
}

.pdsmall{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4.32px;
  text-transform: uppercase;
}

.ofsmall{
  font-family: Chronicle Deck;
  font-size: 20px;
  font-style: italic;
  font-weight: 375;
  text-transform: lowercase;
  letter-spacing: normal;
}

.by{
  color: #FFF;
  font-family: Chronicle Deck;
  font-size: 18px;
  font-style: italic;
  font-weight: 325;
  opacity: 50%;
}

.pdbig{
  color: #0026F4;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 8.32px;
  text-transform: uppercase;
  line-height: normal;
  padding-bottom: 10%;
  padding-top: 10%;
}

.ofbig{
  color: #0026F4;
  font-family: Chronicle Deck;
  font-size: 40px;
  font-style: italic;
  font-weight: 375;
  text-transform: lowercase;
  line-height: normal;
  letter-spacing: normal;
}

/*Scroll Button*/
#scrollbtn {
  font-family: Chronicle Deck;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  padding-right: 17px;
  padding-left: 17px;
  border-radius: 50px;
}

.bluesection{
  background-color:#0026F4;
  padding-top: 100px;
  padding-bottom: 3%;
  color: #FFF;
}

.chaptersec{
  padding-top: 100px;
  padding-bottom: 100px;
}

.bluefooter{
  background-color:#0026F4;
  padding-top: 40px;
  padding-bottom: 3%;
  color: #FFF;
  margin-top: 40px;
}

/*chapter cards*/
.chaptersec{
  margin-top: -10%;
  margin-left: 3%;
}
.topiccard1{
  display:inline-block;
  width: 232px;
  height: 376px;
  background-color: #0026f4;
  border-radius: 10px;
  rotate: -90deg;
  margin-left: 12%;
}

.topic1{
  color: #FFF;  
  font-family: Big Shoulders Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  margin-top: 320px;
}

.topic2{
  color: #FFF;  
  font-family: Chronicle Deck;
  font-size: 45px;
  font-style: normal;
  font-weight: 325;
  margin-top: 320px;
}

.topic3{
  color: #FFF;  
  font-family: Cormorant Garamond;
  font-size: 45px;
  font-style: italic;
  font-weight: 600;
  margin-top: 320px;
}
