@font-face {
	font-family: 'Roboto';
	src: url('../binding/fonts/Roboto-Light.ttf');
  src: url('../binding/fonts/Roboto-Medium.ttf');
  src: url('../binding/fonts/Roboto-Regular.ttf');

  font-family: 'ChronicleDeck';
  src: url('../binding/fonts/ChronicleDeck-Roman.otf');
  src: url('../binding/fonts/ChronicleDeck-Italic.otf');
  src: url('../binding/fonts/ChronicleDeck-Semitalic.otf');

  font-family: 'BigShouldersDisplay';
  src: url('../binding/fonts/BigShouldersDisplay-VariableFont_wght.ttf');

  font-family: 'CormorantGaramond';
  src: url('../binding/fonts/CormorantGaramond-SemiBoldItalic.ttf');
}

#menu__toggle {opacity: 0;}
#menu__toggle:checked + .menu__btn > span {transform: rotate(45deg);}
#menu__toggle:checked + .menu__btn > span::before {top: 0;transform: rotate(0deg);}
#menu__toggle:checked + .menu__btn > span::after {top: 0;transform: rotate(90deg);}
#menu__toggle:checked ~ .menu__box {left: 0 !important;}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition-duration: .60s;}

.menu__btn > span::before {content: '';top: -8px;}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: black;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .60s;}

.menu__item {
  display: block;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  transition-duration: .25s;
  padding-left: 20px;}

.bigmenu__item {
  display: block;
  padding-left: 20px;
  padding-top: -20px;
  padding-bottom: 50px;
  color: white;
  font-family: 'Anton';
  font-size: 50px;
  font-weight: 200;
  transition-duration: .25s;}


h1{text-align: center;
  font-family: Cormorant Upright;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 95px;
  margin-bottom: 40px;
  margin-top: 100px;
  transition: color 0.3s;
  padding: 2%;}

p{width: 80%, 40%;
  padding: 2%;
  color: black;
width: 80%,50%;}

.subhead{
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 3.2px;}

.navitems{
  font-family: Cormorant Garamond;
    font-size: 100px;
    font-style: normal;
    font-weight: 300;
    line-height: 100px;}